# Core dependencies
emoji~=2.14.1
spacy~=3.8.5
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl
pydantic~=2.11
numpy~=2.2.5
nltk~=3.9.1
pandas~=2.2.3
parameterized~=0.9.0
ruff~=0.11.7
sphinx~=7.2.6
transformers~=4.51.3
torch~=2.7.0
datasets~=3.5.0
unidecode~=1.4.0
pyspellchecker~=0.8.2
python-Levenshtein~=0.27.1
accelerate~=1.6.0
